<h1><%= @passenger.name %>'s Flights</h1>

<% @flights.each do |flight| %>
<ul>
  <li><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></li>
</ul>
<% end %>

<section>
  <h2>Assign <%= @passenger.name %> to a flight </h2>
<%= form_tag "/passengers/#{@passenger.id}", method: :post do %>
  <%= label_tag :flight_number %>
  <%= text_field_tag :flight_number %>
  <br>
  <%= submit_tag 'Submit' %>
<% end %>

</section>
